@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

button.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #ffffff;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

button.animated-button.thar-three:hover {
	background-color: transparent;
	text-shadow: nthree;
}

button.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}

button.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	background: #398FFF;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}